body {
  background: hsl(233, 47%, 7%);
}
h1,
span {
  color: hsl(0, 0%, 100%);
}
h1 {
  font-size: 36px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-align: center;
}
p {
  font-size: 15px;
  font-family: "Inter", sans-serif;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 60px;
}
img {
  mix-blend-mode: overlay;
  filter: contrast(1.1);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  object-fit: cover;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.card {
  background: #1b1937;
  width: 1110px;
  height: 446px;
  border-radius: 8px;
}
.heading-highlight {
  color: #ab5cdb;
}
.image-container {
  background-color: hsl(277, 64%, 61%);

  border-radius: 8px;

  padding: 0px;
  position: relative;
  width: 100%;
  height: auto;
}
.image-container img {
  width: 100%;
  height: 446px;
  mix-blend-mode: multiply;
  opacity: 0.75;
}
.image-mobile {
  width: 327px;
}
.stats-heading {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
}
.stats {
  font-family: "Lexend Deca", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: hsla(0, 0%, 100%, 0.6);
}
.text-wrapper {
  padding: 70px;
}
.stats-container {
  display: flex;
  justify-content: space-around;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media (max-width: 700px) {
  img {
    border-top-left-radius: 8px;
    border-bottom-right-radius: 0px;
  }
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 15px;
    margin: 30px 0px;
  }
  .image-container {
    width: 327px;
    border-radius: 8px;
  }

  .image-container img {
    height: 100%;
  }
  .card {
    width: 327px;
    height: 780px;
    margin: 60px 0px;
  }

  .text-wrapper {
    padding: 40px;
  }

  .stats-container {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}
